<header class="homebar">
  <div class="logo-container">
    <!-- CORREÇÃO: Usando um caminho absoluto (iniciando com /) para o asset -->
    <a routerLink="/home">
      <img src="/assets/mff-antigo.png" alt="Logo do Museu de Fauna e Flora"
        class="museu-logo" />
    </a>
  </div>

  <nav class="nav-links">
    <a routerLink="/fauna">FAUNA</a>
    <a routerLink="/flora">FLORA</a>
    <a routerLink="/intervencao">INTERVENÇÃO</a>
    <a routerLink="/historia">HISTÓRIA</a>
  </nav>

  <div class="nav-right">
    <button class="contato-btn" routerLink="/contato">Contato</button>
  </div>
</header>

<!-- Conteúdo principal das rotas -->
<router-outlet></router-outlet>

<!-- Rodapé -->
<footer class="site-footer">
  <div class="footer-content">
    <span>Museu da Fauna e Flora - ICMC/USP © 2025</span>
    <div class="separator"></div>
    <div class="footer-logos">
      <span>Apoio:</span>
      <a href="https://www.icmc.usp.br/grupos-de-extensao/piugs" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/logo-grupos-extensao.jpg" alt="Logo do Programa de gestão socioambiental" class="footer-logo">
      </a>
    </div>
  </div>
</footer>
