<header class="homebar">
  <div class="logo-container">
    <!-- Ajuste as imagens conforme sua pasta de assets -->
    <img src="src/assets/mff-antigo.png" alt="Museu da Fauna e Flora"
      class="museu-logo" />
    <img src="assets/icmc-logo.png" alt="ICMC" class="icmc-logo" />
    <!-- Se preferir texto em vez de imagem:
    <h1>Museu da Fauna e Flora</h1> 
    -->
  </div>

  <nav class="nav-links">
    <a routerLink="/fauna">FAUNA</a>
    <a routerLink="/flora">FLORA</a>
    <a routerLink="/intervencao">INTERVENÇÃO</a>
    <a routerLink="/historia">HISTÓRIA</a>
  </nav>

  <div class="nav-right">
  <button class="contato-btn" routerLink="/contato">Contato</button>
  </div>
</header>

<!-- Conteúdo principal das rotas -->
<router-outlet></router-outlet>

<footer>
  <p>Museu da Fauna e Flora - 2025</p>
</footer>
