<app-header></app-header>

<!-- Conteúdo principal das rotas -->
<router-outlet></router-outlet>

<!-- Rodapé -->
<footer class="site-footer">
  <div class="footer-content">
    <span>Museu da Fauna e Flora - ICMC/USP © 2025</span>
    <div class="separator"></div>
    <div class="footer-logos">
      <span></span>
      <a href="https://www.icmc.usp.br/institucional/programa-socioambiental" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/logogs.jpg" alt="Logo do Programa de gestão socioambiental" class="footer-logo">
      </a>
      <span></span>
      <a href="https://www.icmc.usp.br" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/ICMC.jpg" alt="Logo do Instituto de ciências matemáticas e de computação" class="footer-logo">
      </a>
      <span>Apoio:</span>
      <a href="https://prceu.usp.br" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/LogoPRCEU.png" alt="Logo da Pró-Reitoria de cultura e extensão universitária" class="footer-logo">
      </a>
      <a href="https://www.icmc.usp.br/institucional/estrutura-administrativa/dti" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/DTI.jpg" alt="Logo da Divisão de Tecnologia da Informação" class="footer-logo">
      </a>
    </div>
  </div>
</footer>
