<app-header></app-header>

<!-- Conteúdo principal das rotas -->
<router-outlet></router-outlet>

<!-- Rodapé -->
<footer class="site-footer">
  <div class="footer-content">
    <span>Museu da Fauna e Flora - ICMC/USP © 2025</span>
    <div class="separator"></div>
    <div class="footer-logos">
      <span></span>
      <a href="https://www.icmc.usp.br/institucional/programa-socioambiental" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/logogs.jpg" alt="Logo do Programa de gestão socioambiental" class="footer-logo">
      </a>
    </div>
  </div>
</footer>
