<div class="header-filtros">
  <!--- ->
  <div class="header-imagem-container">
    <img src="./assets/icons/fauna.png" alt="Arara Canindé estilizada" class="header-imagem">
  </div>
  <---->
  <div class="header-conteudo">
    <h1>Explore a Fauna do Instituto</h1>
    <p>Utilize os filtros para encontrar espécies visitantes por nome ou grupo.</p>
  </div>
  <div class="filtros-container">
    <mat-form-field appearance="outline" class="filtro-item">
      <mat-label>Buscar por nome...</mat-label>
      <input 
        matInput 
        type="text"
        placeholder="Ex: Tucano-toco"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filtrarAnimais()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filtro-item">
      <mat-label>Filtrar por Grupo</mat-label>
      <mat-select [(ngModel)]="selectedGrupo" (selectionChange)="filtrarAnimais()">
        <mat-option value="">Todos os Grupos</mat-option>
        <mat-option *ngFor="let grupo of grupos" [value]="grupo">
          {{ grupo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="content-wrapper">
  <div *ngIf="isLoading" class="loading-message">
    <mat-spinner diameter="50"></mat-spinner>
    <p style="margin-top: 20px;">Carregando dados da fauna...</p>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="!errorMessage && data.length === 0" class="no-results-message">
      <p>Nenhum animal encontrado com os filtros selecionados.</p>
    </div>

    <div *ngIf="data.length > 0" class="card-list">
      <div *ngFor="let animal of data" class="item-card">
        <div class="card-image-container">
          <img [src]="animal.imagem || 'assets/placeholder-image.png'" [alt]="'Foto de ' + animal.nomePopular" class="card-image">
        </div>
        <div class="card-content">
          <h3 class="item-name">{{ animal.nomePopular }}</h3>
          <p class="scientific-name"><em>{{ animal.nomeCientifico }}</em></p>
          <p class="item-family"><strong>Grupo:</strong> {{ animal.grupo }}</p>
          <p class="item-habitat"><strong>Habitat:</strong> {{ animal.habitat }}</p>
        </div>
        <div class="card-actions">
          <a [routerLink]="['/fauna', animal.id]" class="details-button">Saiba Mais</a>
        </div>
      </div>
    </div>
  </div>
</div>

