html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

/*
  SOBRESCRITA DO TEMA DO ANGULAR MATERIAL
  Aqui nós forçamos a nossa cor primária na toolbar.
*/
.mat-toolbar.mat-primary {
  background: #27632a;
  color: #ffffff;
}

